<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Documents</span>
      <a class="btn btn-success pull-right">Add Document</a>
    </div>
  </div>
  <div class="panel-body">
    <div class="center-panel">
      <!-- Assign the current document to the document input class variable defined in the DocumentItemComponent class. -->
      <cms-document-item *ngFor="let document of documents" [document]="document" (click)="onSelectedDocument(document)"></cms-document-item>
    </div>
  </div>

</div>
