<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
  <div class="panel-heading">
    <div class="row pad-all">
      <h4 class="title margin-left-right">{{document?.name}}</h4>
      <div class="row pull-right margin-left-right">
        <a (click)="onView()" class="btn btn-primary">View</a>
        <a [routerLink]="['edit']" class="btn btn-info">Edit</a>
        <a (click)="onDelete()" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="pad-left-right">
      <div class="row">
        <label>Description:</label>
        <!-- se string interpolation to display the values of the name, description, and url properties of the document object passed in and assigned to the document input variable in the previous step. -->
        <span class="label-value">{{document?.description}}</span>
      </div>
      <br>
      <div class="row">
        <label>URL:</label>
        <span class="label-value"> {{document.url}}</span>
      </div>
    </div>
  </div>
</div>

